
body{
  font-family: monospace;
  color: rgb(18, 83, 78) ;
  background-color: rgb(229,210,196);
  font-size: 17px;
}

header{
  text-align: center;
  color: rgb(23, 161, 161);;
}

#navigation{
  color: rgb(23, 161, 161);;
}

footer{
  text-align:center;
  color: rgb(23, 161, 161);
  font-family: Verdana;
  font-size: 15px;
}

h1{
  text-align: center;
  color: rgb(23, 161, 161);;
}

h2{
  text-align: center;
  color: rgb(23, 161, 161); ;
}
h3
{
  color: rgb(23, 161, 161);;
}

a{
  text-decoration: none;
  color:rgb(23, 161, 161);
  font-weight: bold;

}

figure{
  text-align: center;
}

figcaption{
  font-size: 20px;
  font-family: cursive;
  color: rgb(23, 161, 161);;
}

nav{
  text-align: center;
  color:rgb(23, 161, 161)
}

